<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Api" stopProcessing="true">
          <match url="(basic-api)/(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="(basic-api)/(.*)" />
          </conditions>
          <action type="Rewrite" url="http://webapi.enterprise-customer-management.tz-group.com/{R:2}" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
